body, html {
  height: 100%;
  margin: 0% 0.3%;
}

/*MAIN HEADER*/

#logo {
	height: 20%; 
	width: 20%;
  float: left;
}

#main_navbar{
  float: left;
  width: 62.25%;
}

ul.navbar {
  list-style-type: none;
  overflow: hidden;
  margin: 0%;
}

li.menu_item {
  float: left;
  position: relative;

}

li a.menu_text {
  display: block;
  font-size: 1.25em;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 50px 30px;
}

li.menu_item:hover {
  background-color: #E8E8E8;
  font-color: gray;
}

.navbar li:hover:after {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height 0px;
  xxmargin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #E11D37;
}

#icons {
  width: 17%;
  float: right;
  margin: 2.5% 0% 0% 0%;
}

.fa {
	padding: 8%;
  font-size: 5px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0% 2.8% 0% 0%;
  border-radius: 5px;
  float: right;
}

.fa-facebook {
	background: white;
	color: #231815;
}

.fa-twitter {
	background: white;
  color: #231815;
}

.fa-linkedin {
	background: white;
  color: #231815;
}
.fa-envelope {
	background: white;
	color: #231815;
}

.fa:hover {
	background-color: #E8E8E8;
}

/*Main Container*/

#main_title {
	width: 70%;
  text-align: center;
  display: inline-block;
  margin-top: 25%;
}

.button {
	font-family: 'Ubuntu', sans-serif;
  text-shadow: 5px 5px 10px black; 
	font-weight: bold;
	text-align: center;
	color: white;
}

#redbar {
  clear: both;
}

.parallax {
  /* The image used */
  background-image: url('https://lh3.googleusercontent.com/XyoIyF6IIJAisfUIzW6HRmGU4Wmw-d61YeS6D4n3KaJOk3VVcM4kxHCcedfccDsweb9wuhxjtO5TQy1E6qvFPztD312slcx1FV7AdZWDEHp3k8SdsulBm05iOlj8MUhGgkGVVEQJTX7CtF5B4xH9DiKzjOtUIx5CfW43FCxCfcyr1O2k79QYj0QIsd16LhJsc9aJszWMqvMImgg6PD5UM-XnDF9thRcPvchEATfZxH31FuYAlb2pJwBfrQXn8002f3KBxRwSOCzNVL0b4_7cDtGrjQfmCx_zkkE8xUx0mjFseyDtJBdcCt48Z5oo7-RQ5qCq6CcdHkvvBT92zQg9wXnGqBO0R8fzEEvtfmifDmz3Zt4qeubhDVdDdyK6lJVjLsALWQIGb-ZrmiU2NpU5zncSIvFqPA4XY70MzeN44LrqhU8auFEWHjomf5KgdUDGnD7kVnn7HTvZXL9R5p54MS19VIO3Gy5mlHCEEwyWWESqG6zni9SDRAW7sJG-ba4_INDIJ4AvrkhDLjrKffk45a0KImRy-NQsi5u_FI0eCKaoquvBfGNvRLneOal54cMbN6nXrYdONtIHeSdOUb8NAJg0cC_wSu7mjcBPG5-nCpAxg7tgRgfSrjP3pTKcBGsa4KIfbJBg2XzcNln2IjxdvYJdMlKlLsjXHRC1epjhfe5tvQ=w1235-h823-no');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  opacity: 0.7;
  clear: both;
}

.parallax1 {

	background-image: url('https://lh3.googleusercontent.com/XyoIyF6IIJAisfUIzW6HRmGU4Wmw-d61YeS6D4n3KaJOk3VVcM4kxHCcedfccDsweb9wuhxjtO5TQy1E6qvFPztD312slcx1FV7AdZWDEHp3k8SdsulBm05iOlj8MUhGgkGVVEQJTX7CtF5B4xH9DiKzjOtUIx5CfW43FCxCfcyr1O2k79QYj0QIsd16LhJsc9aJszWMqvMImgg6PD5UM-XnDF9thRcPvchEATfZxH31FuYAlb2pJwBfrQXn8002f3KBxRwSOCzNVL0b4_7cDtGrjQfmCx_zkkE8xUx0mjFseyDtJBdcCt48Z5oo7-RQ5qCq6CcdHkvvBT92zQg9wXnGqBO0R8fzEEvtfmifDmz3Zt4qeubhDVdDdyK6lJVjLsALWQIGb-ZrmiU2NpU5zncSIvFqPA4XY70MzeN44LrqhU8auFEWHjomf5KgdUDGnD7kVnn7HTvZXL9R5p54MS19VIO3Gy5mlHCEEwyWWESqG6zni9SDRAW7sJG-ba4_INDIJ4AvrkhDLjrKffk45a0KImRy-NQsi5u_FI0eCKaoquvBfGNvRLneOal54cMbN6nXrYdONtIHeSdOUb8NAJg0cC_wSu7mjcBPG5-nCpAxg7tgRgfSrjP3pTKcBGsa4KIfbJBg2XzcNln2IjxdvYJdMlKlLsjXHRC1epjhfe5tvQ=w1235-h823-no');

	height: 70%;

	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {

	background-image: url('https://lh3.googleusercontent.com/m-1aOWE3ZNha_5L73MBrmJr4xtXoiVjLw0VNMXHE7qvSipgGNuG4mi4xH08sMn7T2f1vb0kdPtIDvVDguy_3CxdMF5MzpMojNyBoUen5L6kpheBQ0cu26eMraxiW88Y96KpRROyBIazOjisqcJops7Pm8S1O-xwiLA0yitilIy1C-cA_xIFTHLweb9fqgQu2nv8VE4b2FHzBS_IGCaM0kmdITjDUt3ICnWYRA5DJ68OCpJpt6Xdot49INDtGkK7fRhf0DSVwqDnOZ7G-mC-Ua8YJ7a3fc7wArLFQuT2Rav1Xc1Oa-FXICG6bbb3OhaVUyy1vbz9IHCRUQpIOZ5p8wKsLWVkDXcz56isxFVKjN4CT7LKoqOMJ9rcc8OMPh9wmo5DA7FgadIhltc6hjic1YkugYdc59jzHB0H6hjHXDOkYI4B1QCIjfkpfx7CSKbW4gBuaAqYcAdPXZChj94mCcRoUHJ9b3RWL2devt7VUyT3cUT9ekfMhvf1bdyZXE7HOvUAG3xarLUAfAxpBffHq9oniXQDeHfGeN6VRlNmUqWZuAs0PMDYFiS1Uzyzr2rc0g_pb6MrJsDuAI_NV59UdxMBJ3KCjuRVxSQnAPyx9NQ=w987-h740-no');

	height: 70%;

	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {

  background-image: url('https://lh3.googleusercontent.com/uxRjIlfiIylGjsZtW53RxN9OUC6G4ukMW-tHoJMUVaKIwKOetJ7r9g6VeRhhRSaXavdx0xLkaMHEHePbPU5JaGArza49iVRPKhVxxigEhAqb9caE5Rhryqle3A2BMs0Nxvs2JiMKm9vaoEf_2RyWKxffuO48n1C58i30AaO5ZcYfIGGbgNeAzma5olypOu26blpvpVmgphFGGpTTx9dlrHsSCdaCSs9KgMh6Z0g3VI_6phY14xFLFDJ_Dw3ZU-n8GhtLZ8QnerBQ89WP5qpP5zF4c8aR8-pj3O10kaB6CNaeyl-fAWyUTHf4UaVBW1P6l6eOeHl5CLN-rfYhb_nEnbkqQOKJb6KT4Ccui90iJG29sVQI4pYuLWeRTeXAU6Klx7lSgPlSUeJoZ-AHiB9gqD_xpa1ZqP910O5Zsy4ZcyIrL1yd_JyLX3xQqJQ__TVH21vg67UcQQ6WDI7Mhw-ahXtiFpA4VgVxSB3mtuyFIK8o4awGeVOPzHIr4MWcWEmNQMmvno0XdZoBECotWlQtq6Oncl1m2bp_QDZL7FGQhGSsY6XnQogmGhP5i-wss_r-y-BiTJBq3pjsaYT2qhSvFAIHRbCjPb6WpILSYkPKzw=w1058-h706-no');

  height: 70%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {

  background-image: url('https://lh3.googleusercontent.com/yEJdh0tHteFm5vMI_s9sOdUlYSisPBwyEBzdaTj0YD5fYP-8LLabLVxu4xvVAn3gfygSRZJthbAbhBlkNNofyWN1Mp0oRVqlMUigb2wqgLXWHo8B3oJCCWTxuQIUwdTjJLQGi6YpTTlmDHe2T1YvXGPZUe3Zita0-NfCHv6JL_pcl4V5TZVK0-vzntlCw8YjbZVpeiJFASkaPPR_tRC1c3wHkdrAtWvTTFMAd8bD7gZo6vDOHdALsFTzbAZwtV_mu5iDRIE-Axu7QxHCtmfqEs0I-mrFUQPWAe4kc7wCy8wWMlpbOcx-me3MZ2U8b8k9piVHGPmnegVicsFJ8SWT4TEFMRsRo-WVDhpAsidl925meugZW0S5JP6tIa24K8GfXl8eAzub6VcXgOT2Ls2pklNRvwJ4fR71_8ngzQMkdcgDGTiJlYgdRyf133xcsxpAja80KEmnT-VpdS4nA_ebD6S0v_XpOIWUP7mG4Q0byAVZhEns75j-PqeQFtcWg_97k0DFJZE63VWWwC7uF21zgizgIuqub-zH3vxfBf7IzB-lPgxYVDqsoiTDNov7iE9aaToo1a-DaGbcin75IeTDueTBtXMN8L8yOcZ0wy3qsw=w1058-h706-no');

  height: 70%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*About Page*/

#roster {
  clear: both;
}


@font-face {
  font-family: "Harabara";
  src: url(/assets/Harabara.ttf) format("truetype");
}




/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

