	<div id="footer" style="height: 20%; background-color: #E11D37; clear: both;">
		<div style="height: 75%;">
				
		</div>
		<div>
			<p style="color: #FFFFFF; text-align: center;">© Copyright 2017 St. George's Table Tennis. All rights reserved.</p>
		</div>
	</div>