<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="welcome.css">
</head>

<body>

	<div id="main_header">
		
		<a href="https://www.stgeorges.bc.ca"><img id="logo" src="https://preview.ibb.co/mjazRv/Saints_TT_Logo.png" alt="Saints_TT_Logo" border="0"></a>

		<div id="main_navbar">
			
			<ul class="navbar">
				<li class="menu_item">
					<a class="menu_text" href="/home">Home</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/about">The Team</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/error">News</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/error">Results</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/resources">Resources</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/contact-us">Contact Us</a>
				</li>
			</ul>
		</div>

		<div id="icons">
<!--Social Media Buttons-->				
				<a href="/contact-us" class="fa fa-envelope"></a>
				
				<a href="#" class="fa fa-twitter"></a>

				<a href="#" class="fa fa-linkedin"></a>

				<a href="https://www.facebook.com/groups/1857293611163577/" class="fa fa-facebook"></a>
		</div>

	</div>