<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="welcome.css">
</head>

<body>

	<%= render "header" %>

	<!--Main Container-->
	<div id="main_container" style="height: 100%;">

		<div class="parallax parallax2">

			<div id="main_title" style="font-size: 5em;">
				<span class="button"><br>The Team</span>
			</div>

		</div>
		
		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px">
		</div>

		<div id="whitebar" style="width: 100%; background-color: #fff; height: 8px">
		</div>

		<div id="roster">

			<div id="season_title">
				<span class="season_title">2016-2017 Season</span>

			</div>
			<ul class="about_container">
				<li class="about_subheader">
					<h1>The Coaches</h1>
						<div>
							<div style="float: left; margin-left: 40%;">
								Ms. Stirrup
							</div>
							<div style="float: right; margin-right: 40%;">
								Mr.Schwandt
							</div>
						</div>
				</li>
				<li class="about_subheader">
					<h1>The Players</h1>
				</li>
				<li class="about_subheader">
					<h2>Grade 12</h2>
					<div>
						Frank Sandovais
					</div>
				</li>	
				<li class="about_subheader">
					<h2>Grade 11</h2>
					<div>
						<div>
							Allan Zhou 
						</div>
						<div>
							Bill Qiao 
						</div>
						<div>
							Brandon Chan 
						</div>
						<div>
							Joshua Hugh 
						</div>
						<div>
							Shayne Miller 
						</div>
						<div>
							Vincent Liu
						</div>
					</div>
				</li>
				<li class="about_subheader">
					<h2>Grade 10</h2>
					<div>
						<div>
							Michael Chen 
						</div>
						<div>
							Terry
						</div>
					</div>
				</li>
				<li class="about_subheader">
					<h2>Grade 9</h2>
					<div>
						<div>
							Dmitri
						</div>
						<div>
							Thomas Yuan
						</div>
					</div>
				</li>
				<li class="about_subheader">
					<h2>Grade 8</h2>
					<div>
						<div>
							Edison Huang
						</div>
					</div>
				</li>	
			</ul>
		</div>

		<%= link_to 'Back', '/home' %>

		<%= render "footer" %>
	</div>

	

</body>