<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="welcome.css">
</head>

<body>

	<%= render "header" %>

	<!--Main Container-->
	<div id="main_container" style="height: 100%;">

		<div class="parallax parallax1">

			<div id="main_title" style="font-size: 5em;">
				<span class="button"><br>The Team</span>
			</div>

		</div>
		
		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px">
		</div>

		<div id="roster">
			<ul class="about_container">
				<li class="about_subheader">
					<h1>2016-2017 Season</h1>
				</li>
				<li class="about_subheader">
					<h1>The Coaches</h1>
				</li>
				<li class="about_subheader">
					<h1>The Players</h1>
				</li>
				<li class="about_subheader">
					<h2>Grade 12</h2>
				</li>	
				<li class="about_subheader">
					<h2>Grade 11</h2>
				</li>
				<li class="about_subheader">
					<h2>Grade 10</h2>
				</li>
				<li class="about_subheader">
					<h2>Grade 9</h2>
				</li>
				<li class="about_subheader">
					<h2>Grade 8</h2>
				</li>	
			</ul>
		</div>

		<%= link_to 'Back', '/home' %>

		<%= render "footer" %>
	</div>

	

</body>