<body>

	<%= render "header" %>

	<!--Main Container-->
	<div id="main_container" style="height: 100%;">

		<div class="parallax parallax3">

			<div id="main_title" style="font-size: 5em;">
				<span class="button"><br>Page does not exist</span>
			</div>

		</div>
		
		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px">
		</div>

		<div style="height: 30%; text-align: center; font-size: 3em; margin-top: 2%;">
			<%= link_to 'Back to Home', '/home' %>
		</div>

		<%= render "footer" %>

	</div>
</body>