<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="welcome.css">
</head>

<body>

	<div id="main_header">
		
		<a href="https://www.stgeorges.bc.ca"><img id="logo" src="https://preview.ibb.co/mjazRv/Saints_TT_Logo.png" alt="Saints_TT_Logo" border="0"></a>

		<div id="main_navbar">
			
			<ul class="navbar">
				<li class="menu_item">
					<a class="menu_text" href="/home">Home</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/about">The Team</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/articles">News</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/results">Results</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/resources">Resources</a>
				</li>
				<li class="menu_item">
					<a class="menu_text" href="/contact-us">Contact Us</a>
				</li>
			</ul>
		</div>

		<div id="icons">
<!--Social Media Buttons-->				
				<a href="#" class="fa fa-envelope"></a>
				
				<a href="#" class="fa fa-twitter"></a>

				<a href="#" class="fa fa-linkedin"></a>

				<a href="#" class="fa fa-facebook"></a>
		</div>

		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px">
		</div>

	</div>

	<!--Main Container-->
	<div id="main_container" style="height: 100%;">

		<div class="parallax parallax1">

			<div id="main_title" style="font-size: 5em;">
				<span class="button">St. George's School<br>Table Tennis</span>
			</div>

		</div>
		
		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px">
		</div>

		<div id="info" style="height: 80%; background-color: white;">
			<h1 style="text-align: center;">About Us</h1>
		</div>

		<div style="height: 60%; background-color: #E11D37;">
			<h1 style="text-align: center;">Term 1 Round Robin</h1>
		</div>

		<div id="info2" style="height: 30%;">
			<h1 style="text-align: center;">Term 2 Competitive Sign Up</h1>
		</div>

		<div id="footer" style="height: 20%; background-color: #E11D37;">
			<div style="height: 75%;">
				
			</div>
			<div>
				<p style="color: #FFFFFF; text-align: center;">© Copyright 2017 St. George's Table Tennis. All rights reserved.</p>
			</div>
		</div>
	</div>

</body>