<body>

	<%= render "header" %>

	<!--Main Container-->
	<main id="main">

		<div id="parallax_container" style="height: 100%; clear: both;">

			<div class="parallax parallax1">

				<div id="main_title" style="font-size: 5em;">
					<span class="button">St. George's School<br>Table Tennis</span>
				</div>

			</div>

		</div>

		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px; clear: both;">
		</div>

		<div id="info">
			<h1 style="text-align: center;">About Us</h1>
		</div>

		<div id="info2">
			<h1 style="text-align: center;">Term 1 Round Robin</h1>
		</div>

		<div id="info3">
			<h1 style="text-align: center;">Term 2 Competitive Sign Up</h1>
		</div>

	</main>
		<%= render "footer" %>

	

</body>