<body>

	<%= render "header" %>

	<!--Main Container-->
	<div id="main_container" style="height: 100%;">

		<div class="parallax parallax4">

			<div id="main_title" style="font-size: 5em;">
				<span class="button"><br>Resources</span>
			</div>

		</div>
		
		<div id="redbar" style="width: 100%; background-color: #E11D37; height: 8px">
		</div>

	<h1>Resources</h1>

	<%= link_to 'Back', '/home' %>

	<%= render "footer" %>

	</div>
</body>
