body, html {
  height: 100%;
  margin: 0% 0.3%;
}

/*MAIN HEADER*/

#main_header {
  border-bottom: 8px solid #E11D37;
  overflow: hidden;
}

#logo {
	height: 20%; 
	width: 20%;
  float: left;
}

#main_navbar{
  float: left;
  width: 62.25%;
}

ul.navbar {
  list-style-type: none;
  overflow: hidden;
  margin: 0%;
}

li.menu_item {
  float: left;
  position: relative;

}

li a.menu_text {
  display: block;
  font-size: 1.25em;
  font-family: Garamond;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 50px 30px;
}

li.menu_item:hover {
  background-color: #E8E8E8;
  font-color: gray;
}

.navbar li:hover:after {
  content: "";
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  xxmargin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #E11D37;
}

#icons {
  width: 17%;
  float: right;
  margin: 2.5% 0% 0% 0%;
}

.fa {
	padding: 8%;
  font-size: 5px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0% 2.8% 0% 0%;
  border-radius: 5px;
  float: right;
}

.fa-facebook {
	background: white;
	color: #231815;
}

.fa-twitter {
	background: white;
  color: #231815;
}

.fa-linkedin {
	background: white;
  color: #231815;
}
.fa-envelope {
	background: white;
	color: #231815;
}

.fa:hover {
	background-color: #E8E8E8;
}

/*Main Container*/

#main_title {
	width: 70%;
  text-align: center;
  display: inline-block;
  margin-top: 25%;
  overflow: hidden;
}

.button {
	font-family: 'Ubuntu', sans-serif;
  text-shadow: 5px 5px 10px black; 
	font-weight: bold;
	text-align: center;
	color: white;
  overflow: hidden;
}

#redbar {
  clear: both;
}

.parallax {
  /* The image used */
  background-image: url('https://lh3.googleusercontent.com/XyoIyF6IIJAisfUIzW6HRmGU4Wmw-d61YeS6D4n3KaJOk3VVcM4kxHCcedfccDsweb9wuhxjtO5TQy1E6qvFPztD312slcx1FV7AdZWDEHp3k8SdsulBm05iOlj8MUhGgkGVVEQJTX7CtF5B4xH9DiKzjOtUIx5CfW43FCxCfcyr1O2k79QYj0QIsd16LhJsc9aJszWMqvMImgg6PD5UM-XnDF9thRcPvchEATfZxH31FuYAlb2pJwBfrQXn8002f3KBxRwSOCzNVL0b4_7cDtGrjQfmCx_zkkE8xUx0mjFseyDtJBdcCt48Z5oo7-RQ5qCq6CcdHkvvBT92zQg9wXnGqBO0R8fzEEvtfmifDmz3Zt4qeubhDVdDdyK6lJVjLsALWQIGb-ZrmiU2NpU5zncSIvFqPA4XY70MzeN44LrqhU8auFEWHjomf5KgdUDGnD7kVnn7HTvZXL9R5p54MS19VIO3Gy5mlHCEEwyWWESqG6zni9SDRAW7sJG-ba4_INDIJ4AvrkhDLjrKffk45a0KImRy-NQsi5u_FI0eCKaoquvBfGNvRLneOal54cMbN6nXrYdONtIHeSdOUb8NAJg0cC_wSu7mjcBPG5-nCpAxg7tgRgfSrjP3pTKcBGsa4KIfbJBg2XzcNln2IjxdvYJdMlKlLsjXHRC1epjhfe5tvQ=w1235-h823-no');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  opacity: 0.7;
  overflow: hidden;
}

.parallax1 {

	background-image: url('https://lh3.googleusercontent.com/XyoIyF6IIJAisfUIzW6HRmGU4Wmw-d61YeS6D4n3KaJOk3VVcM4kxHCcedfccDsweb9wuhxjtO5TQy1E6qvFPztD312slcx1FV7AdZWDEHp3k8SdsulBm05iOlj8MUhGgkGVVEQJTX7CtF5B4xH9DiKzjOtUIx5CfW43FCxCfcyr1O2k79QYj0QIsd16LhJsc9aJszWMqvMImgg6PD5UM-XnDF9thRcPvchEATfZxH31FuYAlb2pJwBfrQXn8002f3KBxRwSOCzNVL0b4_7cDtGrjQfmCx_zkkE8xUx0mjFseyDtJBdcCt48Z5oo7-RQ5qCq6CcdHkvvBT92zQg9wXnGqBO0R8fzEEvtfmifDmz3Zt4qeubhDVdDdyK6lJVjLsALWQIGb-ZrmiU2NpU5zncSIvFqPA4XY70MzeN44LrqhU8auFEWHjomf5KgdUDGnD7kVnn7HTvZXL9R5p54MS19VIO3Gy5mlHCEEwyWWESqG6zni9SDRAW7sJG-ba4_INDIJ4AvrkhDLjrKffk45a0KImRy-NQsi5u_FI0eCKaoquvBfGNvRLneOal54cMbN6nXrYdONtIHeSdOUb8NAJg0cC_wSu7mjcBPG5-nCpAxg7tgRgfSrjP3pTKcBGsa4KIfbJBg2XzcNln2IjxdvYJdMlKlLsjXHRC1epjhfe5tvQ=w1235-h823-no');

	height: 70%;

	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {

	background-image: url('https://lh3.googleusercontent.com/AbIuc3kLDHzRSmiVrulWCS72Cf3rwsZ1IYK1tgzxgwWn2obj4w5CbpnByr1Mvb6n-qbRffy6nNE-vtmFWwIMZQ_W8s30bQPWyNLUvotWaWmXDIX2x5YZC4w3d4VXJOn57269se2XLE4FABhcJgSbzQTXyCyD4pyVBmQrdvHjAI-8Xx3lzXRJLQJ1gV41R6qq3KcHcLndi80SZUZvfv3iGJ1fPEPzfNAhHeG66xOkgkC46ebkGW4hB1Jb2B5OO4mbMcJcbSNDOm0vKN0z1t-SoTUOEavBdUu95X85t-X_przcbRA3YU8kBTXH2yGxzzQsEAP49KtwQx3GbKw8VDyvxi2-BCsaJijeb7mnb6D3ThUsI6C-cfTx7_F3S4AFieaZeJ5v18jbwfHZ2Z62AqDuo-78b79Dz8CKZlwxyMwG1fS3hMWNvVbs58VN9TZg6LobLsnuPAb4MEHPr7-c791RxXDxv8ur8ac42hKj1_RrT6ifdgGG3Va1zFSjX9tr18kEwWlpMwYSIhHcZaaU9WtWMrpr5IrQT6KIg7DpbieCX230Uo20W3vCbZ5DmHXmB6_DN-nTyNjMh_c15cZfmjC8Bj_h9Fm-jCOIiXXzpLvUiGV-1kGcl4a4=w1024-h575-no');

	height: 70%;

	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {

  background-image: url('https://lh3.googleusercontent.com/uxRjIlfiIylGjsZtW53RxN9OUC6G4ukMW-tHoJMUVaKIwKOetJ7r9g6VeRhhRSaXavdx0xLkaMHEHePbPU5JaGArza49iVRPKhVxxigEhAqb9caE5Rhryqle3A2BMs0Nxvs2JiMKm9vaoEf_2RyWKxffuO48n1C58i30AaO5ZcYfIGGbgNeAzma5olypOu26blpvpVmgphFGGpTTx9dlrHsSCdaCSs9KgMh6Z0g3VI_6phY14xFLFDJ_Dw3ZU-n8GhtLZ8QnerBQ89WP5qpP5zF4c8aR8-pj3O10kaB6CNaeyl-fAWyUTHf4UaVBW1P6l6eOeHl5CLN-rfYhb_nEnbkqQOKJb6KT4Ccui90iJG29sVQI4pYuLWeRTeXAU6Klx7lSgPlSUeJoZ-AHiB9gqD_xpa1ZqP910O5Zsy4ZcyIrL1yd_JyLX3xQqJQ__TVH21vg67UcQQ6WDI7Mhw-ahXtiFpA4VgVxSB3mtuyFIK8o4awGeVOPzHIr4MWcWEmNQMmvno0XdZoBECotWlQtq6Oncl1m2bp_QDZL7FGQhGSsY6XnQogmGhP5i-wss_r-y-BiTJBq3pjsaYT2qhSvFAIHRbCjPb6WpILSYkPKzw=w1058-h706-no');

  height: 70%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax4 {

  background-image: url('https://lh3.googleusercontent.com/yEJdh0tHteFm5vMI_s9sOdUlYSisPBwyEBzdaTj0YD5fYP-8LLabLVxu4xvVAn3gfygSRZJthbAbhBlkNNofyWN1Mp0oRVqlMUigb2wqgLXWHo8B3oJCCWTxuQIUwdTjJLQGi6YpTTlmDHe2T1YvXGPZUe3Zita0-NfCHv6JL_pcl4V5TZVK0-vzntlCw8YjbZVpeiJFASkaPPR_tRC1c3wHkdrAtWvTTFMAd8bD7gZo6vDOHdALsFTzbAZwtV_mu5iDRIE-Axu7QxHCtmfqEs0I-mrFUQPWAe4kc7wCy8wWMlpbOcx-me3MZ2U8b8k9piVHGPmnegVicsFJ8SWT4TEFMRsRo-WVDhpAsidl925meugZW0S5JP6tIa24K8GfXl8eAzub6VcXgOT2Ls2pklNRvwJ4fR71_8ngzQMkdcgDGTiJlYgdRyf133xcsxpAja80KEmnT-VpdS4nA_ebD6S0v_XpOIWUP7mG4Q0byAVZhEns75j-PqeQFtcWg_97k0DFJZE63VWWwC7uF21zgizgIuqub-zH3vxfBf7IzB-lPgxYVDqsoiTDNov7iE9aaToo1a-DaGbcin75IeTDueTBtXMN8L8yOcZ0wy3qsw=w1058-h706-no');

  height: 70%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*About Page*/

#season_title {
  background-color: #E11D37;
  width: 96%;
  height: 10%;
  text-align: center;
  padding: 2%

}
.season_title {
  font-size: 3em;
  font-family: sans-serif;
  font-weight: bold;
  color: #fff;
}

#roster {
  clear: both;
}

ul.about_container {
  list-style-type: none;
  clear: both;
}

li.about_subheader {
  font-family: sans-serif;
  text-align: center;
  clear: both;
}

li.names {
  display: table;
  margin: 0 auto;
}

@font-face {
  font-family: "Harabara";
  src: url(/assets/Harabara.ttf) format("truetype");
}




